@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Montserrat', sans-serif;
}
/* body{
  background: #780206;  
  background: -webkit-linear-gradient(to right, #061161, #780206);  
  background: linear-gradient(to right, #061161, #780206); 
  } */